apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jobvector-ingress
  namespace: jobvector
  labels:
    app: jobvector
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "10m"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "900"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "900"
spec:
  ingressClassName: nginx
  rules:
  - host: 161.35.242.55.nip.io
    http:
      paths:
      - path: /auth
        pathType: Prefix
        backend:
          service:
            name: backend
            port:
              number: 8080
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: backend
            port:
              number: 8080
      - path: /
        pathType: Prefix
        backend:
          service:
            name: frontend
            port:
              number: 3000
