apiVersion: v1
kind: Service
metadata:
  name: embeddingservice
  namespace: jobvector
  labels:
    app: embeddingservice
spec:
  type: ClusterIP
  ports:
  - port: 5002
    targetPort: 5002
    protocol: TCP
    name: http
  selector:
    app: embeddingservice
