apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
  namespace: jobvector
  labels:
    app: backend
type: Opaque
stringData:
  DB_PASSWORD: "${DB_PASSWORD}"
  JWT_SECRET: "${JWT_SECRET}"
  JWT_EXPIRATION: "${JWT_EXPIRATION}"
