apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: jobvector
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: NotIn
                values:
                - pool-3hz4fjqza-sb452
      initContainers:
      - name: wait-for-backend
        image: curlimages/curl:latest
        command:
        - sh
        - -c
        - |
          until curl -f http://backend:8080/actuator/health/readiness; do
            echo "Waiting for Backend..."
            sleep 2
          done
      containers:
      - name: frontend
        image: kamkoum04/jobvector-frontend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
          name: http
        envFrom:
        - configMapRef:
            name: frontend-config
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 30
          periodSeconds: 10
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 5
          failureThreshold: 3
