---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: jobvector
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
  selector:
    app: frontend
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-nodeport
  namespace: jobvector
spec:
  type: NodePort
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30080
    protocol: TCP
  selector:
    app: frontend
